# Python Mengambil Data dari Database (Studi Kasus: MsSQL)

## Outline

- Menginstall Library
- Menghubungkan Python (Pandas) ke Database
- Melihat DataBase melalui DBeaver

## Menginstall Library pydobc

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\aansubarkah\anaconda3\envs\basangdata12\lib\site-packages (5.1.0)

WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\aansubarkah\anaconda3\envs\basangdata12\Lib\site-packages\packaging-23.2.dist-info due to invalid metadata entry 'name'

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Menghubungkan Python ke Database

In [1]:
import pyodbc
import pandas as pd

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_17388\2676772677.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
server = '146.190.109.222,1434'
database = 'AdventureWorks2019'
username = 'auditor'
password = 'basangdata'

In [3]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [4]:
query = 'SELECT * FROM Sales.Customer;'
df = pd.read_sql(query, cnxn)

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_17388\2968239962.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnxn)

In [5]:
df

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263

## Melihat Database melalui DBeaver

Sampai saat ini timbul banyak pertanyaan. Database AdventureWorks2019 punya tabel apa saja? Bukankah lebih mudah jika ada alat untuk menampilkan database, melihat-lihat apa yang ada di dalamnya?

Betul.

[DBeaver](https://dbeaver.io/download/) jawabannya.

Aplikasi ini bisa menampilkan tabel apa saja yang ada dalam database.

Bonusnya, DBeaver bisa membuka macam-macam jenis database. MsSQL, PostgreSQL, MySQL, Oracle, SQLite, dll. Jadi cukup satu aplikasi untuk berbagai macam jenis database.

![DBeaver](Screenshot_1587.png)

## Tabel Target

- Customer
- SalesOrderHeader
- SalesPerson
- Store

Agar lebih menantang:
- SalesPerson dalam bentuk file Excel
- Store dalam PDF